.analytics-container {
    background-color: #ffffff; /* Light grey background */
    width: 100%;
  }
  
  .title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .text {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .chart-row {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
  }
  
  .chart-container {
    padding: 0;
    width: 100%;
    margin: 1rem;
    background-color: white; /* White background for charts */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  