.add-button {
    width: 50px;
    /* Adjust size as needed */
    height: 50px;
    /* Ensure it remains a circle */
    background-color: #1aae3a;
    /* Green background color */
    border-radius: 50%;
    /* Makes the button circular */
    border: 4px solid rgb(209, 209, 209);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /* Pointer on hover */
}

.add-button:focus {
    outline: none;
    /* Remove focus outline */
}

.add-button .plus {
    color: white;
    /* White color for the plus sign */
    font-size: 24px;
    /* Adjust size as needed */
    font-weight: bold;

    /* Bold the plus sign */
}

.add-button:hover {
    background-color: #1aae3a;
    /* Slightly darker green on hover */
    border: 4px solid #60c676;
}