.NoData-Container {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #252932;
    padding: .75rem;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.316);
    border-left: 10px solid #9000ff; /* Purple left border */
}