.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5); /* Dark background with opacity */
    z-index: 1000;
  }
  
  .modal-content {
    background: white;
    padding: 25px;
    border-radius: 12px;
    width: 400px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 1001;
  }
  
  .modal-content h2 {
    margin-bottom: 15px;
    font-size: 24px;
    text-align: center;
    color: #333;
  }
  
  .client-detail {
    margin-bottom: 15px;
  }
  
  .client-detail strong {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
  }
  
  .client-detail p {
    background-color: #f9f9f9;
    padding: 10px;
    border: 3px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    color: #5d5d5d;
    margin: 0;
  }
  
  .modal-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .close-button,
  .delete-button,
  .edit-button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-left: 10px;
  }
  
  .close-button:hover {
    background-color: #c0392b;
  }
  
  .delete-button {
    background-color: #e74c3c;
  }
  
  .delete-button:hover {
    background-color: #c0392b;
  }

  .edit-button {
    background-color: #9600ff;
  }
  
  .edit-button:hover {
    background-color: #7a00d2;
  }
  
  